                                       !! Foundation Of Data Science !!
    
                                     Chapter - 2 Data Types & Data Levels

- Find the Relative length of the string

In [1]:
len("This Wednesday morn, are you early to rise? Then look East.The Crescent Moon joins Venus & Saturn. Afloat in the dawn skies.")

124

                                                    Data
                                                      |
                            ---------------------------------------------------------
                            |                                                        |
                        Structured                                              Unstructured
                            |                                                        |
         -----------------------------------------                              Preprocessing
         |                                        |                                  |
         |                                        |<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<--
         |                                        |
     Qualitative                             Quantitative

- World Health Organization Data

The World Health Organization dataset describing the average drinking habits of people in countries across the world. Using Python and the data exploration tool, Pandas, in order to gain a better look:

In [7]:
#Python program to read CSV.

import pandas as pd

#Read CSV file from a URL

drinks=pd.read_csv('https://raw.githubusercontent.com/sinanuozdemir/principles_of_data_science/master/data/chapter_2/drinks.csv')

drinks.head(8)   #First 8 rows

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
5,Antigua & Barbuda,102,128,45,4.9,NaN
6,Argentina,193,25,221,8.3,SA
7,Armenia,21,179,11,3.8,EU

country: Qualitative
beer_servings: Quantitative
spirit_servings: Quantitative
wine_servings: Quantitative
total_litres_of_pure_alcohol: Quantitative
continent: Qualitative

The describe() method is being used here, which first identifies whether the column is likely quantitative or 
qualitative and then gives basic information about the column as a whole.

In [8]:
drinks['continent'].describe()

count     170
unique      5
top        AF
freq       53
Name: continent, dtype: object

In [9]:
drinks['beer_servings'].describe()

count    193.000000
mean     106.160622
std      101.143103
min        0.000000
25%       20.000000
50%       76.000000
75%      188.000000
max      376.000000
Name: beer_servings, dtype: float64

- Ordinal Data

Data in the ordinal level provides us with a rank order, or the means to place one observation before the other; however, it does not provide us with relative differences between observations, meaning that while we may order the observations from first to last, we cannot add or subtract them to get any real meaning.

Arthimatic Operation Allowed:
-> Equality
-> Set Membership
-> Comparison
-> Ordering

Measures of Central Tendency.
-> Median is usually an appropriate way of defining the center of the data.

In [10]:
#Python program to find median in the given data set.

import numpy

results = [5, 4, 3, 4, 5, 3, 2, 5, 3, 2, 1, 4, 5, 3, 4, 4, 5, 4, 2, 1, 4, 5, 4, 3, 2, 4, 4, 5, 4, 3, 2, 1]

sorted_results=sorted(results)

print(numpy.mean(sorted_results))

print(numpy.median(sorted_results))

3.4375
4.0

- Interval Data

The basic difference between the ordinal level and the interval level is, well, just thatâ€”difference.
Data at the interval level allows meaningful subtraction between data points.
Example-Temperature is a great example of data at the interval level.

Arthimatic Operation Allowed:
-> Equality
-> Set Membership
-> Comparison
-> Ordering
-> Addition
-> Substraction

Measures of Central Tendency.
-> Mean is usually an appropriate way of defining the center of the data.

In [11]:
#Python program to find the mean in the give data set.

import numpy

temps=[31, 32, 32, 31, 28, 29, 31, 38, 32, 31, 30, 29, 30, 31, 26]

print(numpy.mean(temps))

print(numpy.median(temps))

30.733333333333334
31.0

Note how the mean and median are quite close to each other and both are around 31 degrees.

The question, on average, how cold is the fridge?, about 31, however the vaccine comes with a warning:

Do not keep this vaccine at a temperature under 29 degrees.

Note that at least twice, the temperature dropped below 29 degrees but you ended up assuming that it isn't enough for it to be detrimental.This is where the measure of variation can help us understand how bad the fridge situation can be.

Measures of Variation

In data science, it is also very important to mention how "spread out" the data is. The measures that describe this phenomenon are called measures of variation. 

-> Standard Deviation
-> Variance
-> Interquartual Range
-> Range

In [14]:
#Python program to calculate the standard deviation

import numpy

temps=[31, 32, 32, 31, 28, 29, 31, 38, 32, 31, 30, 29, 30, 31, 26]

mean=numpy.mean(temps)

squared_differences=[]

for temperature in temps:
    difference=temperature-mean
    squared_difference=difference**2
    squared_differences.append(squared_difference)

averaged_squared_difference=numpy.mean(squared_differences)
#This number is called variance

standard_deviation=numpy.sqrt(averaged_squared_difference)

print(standard_deviation)

2.5157283018817607

- Ratio Data

The ratio level proves to be the strongest of the four.
Not only can we define order and difference, the ratio level allows us to multiply and divide as well.

Example:

Money in the bank is at the ratio level. You can have "no money in the bank" and it makes sense that $200,000 is "twice as much as" $100,000.

Arthimatic Operation Allowed:
-> Equality
-> Set Membership
-> Comparison
-> Ordering
-> Addition
-> Substraction
-> Division
-> Multiplication

Measures of Central Tendency

-> Mean - The arithmetic mean still holds meaning at this level, as does a new type of mean called the geometric mean.
          It is the square root of the product of all the values.

In [16]:
#Python program to calculate geometric mean

import numpy

temps = [31, 32, 32, 31, 28, 29, 31, 38, 32, 31, 30, 29, 30, 31, 26]

num_items=len(temps)

product=1

for temperature in temps:
    product*=temperature

geometric_mean= product**(1./num_items)

print(geometric_mean)

30.63473484374659